<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <title>Users List</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Users List</h1>-->
<!--<br/><br/>-->
<!--<div th:switch="${users}">-->
<!--    <h2 th:case="null">No users yet!</h2>-->
<!--    <div th:case="*">-->
<!--        <h2>Users</h2>-->
<!--        <table border="1" style="width: 300px">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--                <th>Password</th>-->
<!--                <th>Edit</th>-->
<!--                <th>Delete</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="user : ${users}">-->
<!--                <td th:text="${user.name}"></td>-->
<!--                <td th:text="${user.password}"></td>-->
<!--                <td><a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a></td>-->
<!--                <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--    <p><a href="/register">Add a new user</a></p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script data-require="jquery@3.1.1" data-semver="3.1.1" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script data-require="bootstrap@3.3.5" data-semver="3.3.5" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <title>Sign in</title>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">Admin</a></li>
                <li><a href="#">User</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin page</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">All users</a> </li>
                <li><a href="#myModal" data-toggle="modal">Add user</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home" >
                    <div th:switch="${users}">
                        <h2 th:case="null">No users yet!</h2>
                        <div th:case="*">

                            <div class="panel-heading justify-content-center align-items-center head-user-table">
                                All users
                            </div>
                            <table class="table table-striped users-table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Password</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.name}"></td>
                                    <td th:text="${user.password}"></td>
                                    <td>
                                        <button class="btn btn-info" data-toggle="modal" th:href="'#Modal' + ${user.getId()}">Вспывающее окно</button>
                                        <div th:id="'Modal' + ${user.getId()}"  class="modal fade" tabindex="-1">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content" th:id="${user.getName()}">
                                                    <div class="modal-header text-center">
                                                        <h4 class="modal-title w-100 font-weight-bold">Edit User</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body mx-3">
                                                        <div class="md-form mb-5">
                                                            <form action="#" th:action="@{/admin/edit/{id}(id=${user.id})}"
                                                                  th:object="${user}" method="post">
                                                                <div class="form-group">
                                                                    <fieldset disabled>
                                                                        <label for="disabledTextInput">Disabled input</label>
                                                                        <input type="text" id="disabledTextInput" class="form-control" th:placeholder="${user.getId()}">
                                                                    </fieldset>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name" class="col-form-label">Name</label> <input
                                                                        type="text" th:value="${user.password}" class="form-control" id="name"
                                                                        placeholder="Name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="password" class="col-form-label">password</label> <input
                                                                        type="password" th:value="${user.password}" class="form-control" id="password"
                                                                        placeholder="password">
                                                                </div>
                                                                <input type="submit" class="btn btn-primary" value="Add User">
                                                            </form>
                                                        </div>
                                                    </div>
<!--                                                    <div class="modal-footer d-flex justify-content-center">-->
<!--                                                        <input type="submit" class="btn btn-primary" value="Add User">-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p><a href="/register">Add a new user</a></p>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Название модали</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button type="button" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
